<form [formGroup]="service.form" class="normal-form">
    <mat-girl-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                
            </div>
        </mat-grid-tile>
    </mat-girl-list>

</form>
